In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as  plt

In [6]:
data=pd.read_csv("C:/Users/HI/OneDrive/Documents/startup_data.csv")

In [7]:
data.head(10)

   R&D Spend  Administration  Marketing Spend     Profit
0  165349.20       136897.80        471784.10  192261.83
1  162597.70       151377.59        443898.53  191792.06
2  153441.51       101145.55        407934.54  191050.39
3  144372.41       118671.85        383199.62  182901.99
4  142107.34        91391.77        366168.42  166187.94
5  131876.90        99814.71        362861.36  156991.12
6  134615.46       147198.87        127716.82  156122.51
7  130298.13       145530.06        323876.68  155752.60
8  120542.52       148718.95        311613.29  152211.77
9  123334.88       108679.17        304981.62  149759.96

In [10]:
#checking missing values in the data set
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   Profit           50 non-null     float64
dtypes: float64(4)
memory usage: 1.7 KB

In [11]:
data.isnull()

    R&D Spend  Administration  Marketing Spend  Profit
0       False           False            False   False
1       False           False            False   False
2       False           False            False   False
3       False           False            False   False
4       False           False            False   False
5       False           False            False   False
6       False           False            False   False
7       False           False            False   False
8       False           False            False   False
9       False           False            False   False
10      False           False            False   False
11      False           False            False   False
12      False           False            False   False
13      False           False            False   False
14      False           False            False   False
15      False           False            False   False
16      False           False            False   False
17      False           False            False   False
18      False           False            False   False
19      False           False            False   False
20      False           False            False   False
21      False           False            False   False
22      False           False            False   False
23      False           False            False   False
24      False           False            False   False
25      False           False            False   False
26      False           False            False   False
27      False           False            False   False
28      False           False            False   False
29      False           False            False   False
30      False           False            False   False
31      False           False            False   False
32      False           False            False   False
33      False           False            False   False
34      False           False            False   False
35      False           False            False   False
36      False           False            False   False
37      False           False            False   False
38      False           False            False   False
39      False           False            False   False
40      False           False            False   False
41      False           False            False   False
42      False           False            False   False
43      False           False            False   False
44      False           False            False   False
45      False           False            False   False
46      False           False            False   False
47      False           False            False   False
48      False           False            False   False
49      False           False            False   False

In [12]:
data.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
Profit             0
dtype: int64

In [23]:
x = data.drop(['Profit'], axis=1)
y = data['Profit'].values.reshape(-1,1)

In [24]:
#Splitting data into training, testing datase
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [26]:
#Fitting Linear regression to our training set
from sklearn.linear_model import LinearRegression
multiple_reg = LinearRegression()
multiple_reg.fit(x_train, y_train)

LinearRegression()

In [28]:
#Testing
y_pred = multiple_reg.predict(x_test)

In [29]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.9393955917820571

In [32]:
multiple_reg.coef_

array([[0.77884104, 0.0293919 , 0.03471025]])